<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MyBank - Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-container">

    <h1>🏦 MyBank</h1>

    <p>Welcome to your banking portal</p>

    <form action="/login" method="POST">

        <label>Username</label>

        <input
            type="text"
            name="username"
            placeholder="Enter username"
            required
        >

        <label>Password</label>

        <input
            type="password"
            name="password"
            placeholder="Enter password"
            required
        >

        <button type="submit">
            Login
        </button>

    </form>

</div>

</body>
</html>